@charset "utf-8";

/* absolute로 특정 요소 위치를 변경하기 */
.wrap {
  width: 800px;
  border: 5px solid black;
  margin: 50px auto;
}
.wrap::after {
  content: "";
  display: block;
  clear: both;
}
.wrap .left {
  width: 400px;
  height: 400px;
  background-color: lightgreen;
  float: left;
}
.wrap .right {
  margin: 0px;
  width: 400px;
  height: 400px;
  background-color: lightblue;
  float: left;
  position: relative;
}
.wrap .right .box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 0px;
  position: absolute;
  right: 20px;
  bottom: 30px;
}
.wrap .bottom {
  width: 800px;
  height: 100px;
  background-color: pink;
  float: left;
}
